.iconos {
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 5px;
  color: white;
  margin-top: 150px
}


.contenedor-iconos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ficha {
  display: flex;
  align-items: center;
  margin-bottom: 8px; 
  color: white;
}

.icono-giro img {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

.icono-giro {
  cursor: pointer;
  transition: opacity 0.3s ease;
  margin-top: 10px;
}

.icono-giro:hover {
  opacity: 0.7;
}

.icono-giro.clicked {
  opacity: 0.3;
  transition: opacity 0.2s ease;
}

button {
  width: 60px;
  height: 20px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4845a0;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button-reset,.start-button {
  background-color: #3498db;
  color: #fff; 
  font-size: 12px; 
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
}

.button-reset:hover {
  background-color: #2980b9; 
}

.start-button:hover {
  background-color: #1c5378; 
}
