.ficha {
  position: relative;
  margin: 10px;
  text-align: center;
}

.nombre-ficha {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}

.icono-giro img {
  width: 24px; 
  height: 24px; 
}

.icono-giro {
  margin-left: 100px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.icono-giro:hover {
  opacity: 0.7;
}

.icono-giro.clicked {
  opacity: 0.3; 
  transition: opacity 0.2s ease;
}

