.ficha {
  position: relative;
  margin: 10px;
  text-align: center;
}

.nombre-ficha {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}