.contenedor-movimientos {
    display: flex;
  }
  
  .movimientos-container {
    flex: 1; /* El contenedor ocupará todo el espacio disponible en el eje horizontal */
    max-height: 300px; /* Altura máxima para activar el scroll vertical */
    overflow-y: auto; /* Agrega scroll vertical cuando el contenido excede la altura */
    padding: 20px;
    margin-right: 20px; /* Espacio entre los contenedores de movimientos */
    border: 1px solid #ccc; /* Un borde para visualizar mejor los contenedores */
  }
  
/* Estilos para los elementos de la lista */
.movimientos-container ul {
    padding: 0;
    list-style: none; /* Elimina los puntos de lista */
  }
  
  .movimientos-container ul li {
    font-family: 'Arial', sans-serif;
    font-size: 14px; /* Reducción del tamaño de la fuente para ajustarse mejor */
    margin-bottom: 8px;
  }
  
  /* Estilos para las letras */
  .movimientos-container ul li .letra {
    color: #ff6347;
    font-weight: bold;
  }
  
  /* Estilos para los números */
  .movimientos-container ul li .numero {
    color: #4682b4;
    font-style: italic;
  }
  