.tablero{
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  margin-bottom: 20px;
}

.fila {
  display: flex;
}


.celda.barco {
  background-color: #3498db;
}

.celda.disparo {
  background-color: #e74c3c;
}

.contenedor-tablero {
  display: flex;
  justify-content: center;
}

.fila {
  display: flex;
}

.celda {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.celda-valida {
  background-color: #aaffaa;
}

.celda-invalida {
  background-color: red;
}

.contenedor-general {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor-tablero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tablero-con-iconos {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.iconos-tablero {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.info-celda-atacada {
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.contenedor-tablero {
  position: relative;
}

.numeros-jugador {
  position: absolute;
  top: -40px; 
  left: 0; 
}

.numeros-maquina {
  position: absolute;
  top: -40px; 
  left: 393px;
}

.atacada {
  background-color: gray; 
}

